.primer-sidebar-cv {
  background-color: #292828;
}

.color-letras {
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

.contactos {
  padding: 20px;
  color: white;
}

.titulo-experiencia {
  background-color: #009193;
  color: #ffffff;
}
